/* src/app/cart-list/cart-list.component.css */

.cart-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  max-width: 1440px;
}

.cart-table th,
.cart-table td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: left;
}

.cart-table th {
  background-color: #f2f2f2;
}

.product-image {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 4px;
}

.product-info {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.product-info h3 {
  margin-top: 0;
  margin-bottom: 4px;
}

.price {
  font-weight: bold;
}

.empty-cart {
  color: #888;
  font-style: italic;
  margin-top: 10px;
}

.quantity-group {
  display: flex;
  gap: 12px;
}

.quantity-group p {
  margin: 0;
  border: 1px solid #ccc;
  border-radius: 10px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
