<div class="container mt-4">
  <div *ngIf="cartItems.length === 0" class="text-center">
    <p>Your cart is empty.</p>
  </div>
  <div *ngFor="let item of cartItems" class="card mb-3">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img [src]="item.imageUrl" class="card-img" alt="Product Image" />
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{ item.name }}</h5>
          <p class="card-text">{{ item.description }}</p>
          <p class="card-text">
            <strong>Price: ${{ item.price }}</strong>
          </p>
          <div>
            <button class="btn btn-success mr-2" (click)="buyItem(item)">
              Buy
            </button>
            <span
              style="cursor: pointer; margin-left: 8px"
              class="btn btn-success mr-2"
              (click)="removeFromCart(item.id)"
              >×</span
            >
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="cartItems.length > 0" class="text-center">
    <button class="btn btn-danger" (click)="clearCart()">Clear Cart</button>
  </div>
</div>
