<footer class="app-footer">
    <div class="contact-info">
      <p>Address: New York, NY 10012, US</p>
      <p>Email: mobileShop&#64;gmail.com</p>
      <p>Phone: +01 234 567 88</p>
    </div>
    <div class="social-links">
        <div>
            <a href="#" class="fa fa-facebook"></a>
            <a href="https://www.facebook.com/">Facebook</a>
        </div>
        <div>
            <a href="#" class="fa fa-twitter"></a>
            <a href="https://www.twitter.com/">Twitter</a>
        </div>
    </div>
  </footer>
  