.box {
  width: 100px;
  height: 100px;
  border: 2px solid black;
  padding: 40px;
  margin-top: 10px;
}

.red-border {
  border: 2px solid red;
}

.blue-background {
  background-color: aqua;
}

.modal-header {
  justify-content: space-between;
  display: flex;
  flex-shrink: 0;
  align-items: center;
  padding: var(--bs-modal-header-padding);
  border-bottom: var(--bs-modal-header-border-width) solid var(--bs-modal-header-border-color);
  border-top-left-radius: var(--bs-modal-inner-border-radius);
  border-top-right-radius: var(--bs-modal-inner-border-radius);
}

/* styles.css */

/* Navbar background color */
.navbar {
  background-color: #333;
}

/* Navbar brand link */
.navbar-brand {
  color: white;
  font-weight: bold;
}

/* Navbar links */
.navbar-nav .nav-link {
  color: white;
  font-weight: 500;
}

/* Hover effect for links */
.navbar-nav .nav-link:hover {
  color: #f8f9fa;
  /* Lighter shade of white */
}
