<!-- app.component.html -->
 <div style="display: flex;
  flex-direction: column;
  height: 100vh;
 ">
  <app-header></app-header>
<!-- <nav
  class="navbar navbar-expand-lg navbar-light"
>
  <div class="container-fluid">
    <a class="navbar-brand" href="#" style="color: white">Shop Mobile</a>
    <div class="collapse navbar-collapse justify-content-end">
      <ul class="navbar-nav">
        <li class="nav-item" *ngIf="!isLoggedIn">
          <a class="nav-link" routerLink="/login" style="color: white">Login</a>
        </li>
        <li class="nav-item" *ngIf="isLoggedIn">
          <a class="nav-link" (click)="logout()" style="color: white">Logout</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="toggleCart()" style="color: white">
            Cart ({{ cartService.getCartItems().length }})
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav> -->

<div
  class="container-fluid"
  style="
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    color: #000;
    flex: 1;
  "
>
  <router-outlet></router-outlet>
</div>

<!-- Modal for Shopping Cart -->
<!-- <div
  class="modal"
  tabindex="-1"
  role="dialog"
  [ngClass]="{ show: showShoppingCart, 'd-block': showShoppingCart }"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Shopping Mobile</h5>
        <button
          type="button"
          style="border: none"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
          (click)="toggleCart()"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-shopping-cart></app-shopping-cart>
      </div>
    </div>
  </div>
</div> -->
<app-footer></app-footer>
 </div>
